body{
  margin: 0;
  padding: 0;
  background-color: #333;
  color: snow;
  text-align: center;
}

.menor{
  color: tomato;
}

.mayor{
  color: limegreen;
}

button{
  margin: 0px 0.5rem;
}